    <div class="palette">
      <div class="white"></div>
      <div class="red"></div>
      <div class="orange"></div>
      <div class="yellow"></div>
      <div class="green"></div>
      <div class="blue"></div>
      <div class="indigo"></div>
      <div class="violet"></div>
      <div class="black"></div>
    </div>
    <div class="container">
      <% if !@art.data.include? '<script>' %>
        <%= @art.data.html_safe %>
      <% end %>
    </div>


    <h4>Sign Up</h4>
    <form class="" action="/users" method="post">
      <input type="text" name="user[username]" value="">
      <input type="password" name="user[password]" value="">
      <input type="password" name="user[password_confirmation]" value="">
      <button>Submit</button>
    </form>

    <h4>Sign In</h4>
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="">
      <input type="password" name="password" value="">
      <button></button>
    </form>
    <div id="queue">
      <%= $lineup  %>
    </div>
    <% if @current_user %>
      <script class='yes'>
      $(document).ready(function(){
        currentuser = "<%= @current_user.username %>"
        line = "<%= $lineup %>"
      })

      </script>
      <%= link_to "Sign Out of #{@current_user.username}", '/login', :class => "text-center", :method => "delete" %>
      <% if !$lineup.include? @current_user.username %>
        <button class="addtolineup">Rejoin The Queue?</button>
      <% end %>
    <% end %>
